@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply font-arimo;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.textWhiteBorder {
  -webkit-text-stroke: 0.2px white;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}
.textBlackBorder {
  -webkit-text-stroke: 0.2px black;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.pageDescription {
  @apply text-[6px];

  @apply xs:text-[10px];

  @apply sm:text-[12px];

  @apply md:text-[16px];

  @apply xl:text-[20px];

  @apply w-[50%];
}

.textInBubble {
  @apply text-[5px];

  @apply xxs:text-[6px];

  @apply xs:text-[8px];

  @apply sm:text-[10px];

  @apply md:text-[12px];

  @apply lg:text-[14px];

  @apply xl:text-[20px];
}
